// Esquema de colores

// Primer esquema de color
$white: #fff;
$snow: #fafafa;
$quick-silver: #a0a0a0;

// Segunda esquemas de color
$jelly-bean: #e56353;
$salmon: #e97f72;
$pastel-pink: #f0a9a1;

// Tercer esquema de color
$granite-gray: #686963;
$taupe-gray: #91918d;
$gray: #bababb;

// Tipografia
$raleway: 'Raleway', sans-serif;

// Peso de fuente
$extra-light: 200;
$regular: 400;
$bold: 700;

// Tamaño de fuente
$xx-large: 100px;
$x-large: 70px;
$large: 50px;
$medium: 18px;