/**
 * html5doctor.com 
Reset Stylesheet v1.6.1 
 * Richard Clark 
 * http://cssreset.com
 */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input, select {
  vertical-align: middle;
}

body {
  font-family: "Raleway", sans-serif;
}

.main_header__container, .product__container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}
.main_header__link {
  background: url("../img/logo_header.png") no-repeat center/100% auto transparent;
  height: 51px;
  width: 252px;
  display: block;
}

.main_footer {
  background: #686963;
  padding: 4em;
  text-align: center;
}
.main_footer__img {
  width: 150px;
}

.product, .product--gray-bg {
  padding: 1em;
  color: #686963;
}
.product__img {
  max-width: 100%;
}
.product__title {
  text-align: center;
  margin: 0.5em;
  font-size: 2.5em;
}
.product__text {
  font-size: 1em;
}
.product--gray-bg {
  background: #91918d;
  color: #fff;
}

.red_block, .red_block--small-padding, .red_block--big-padding {
  background: #e56353;
  text-align: center;
  color: #fff;
  padding: 2em;
  font-weight: 700;
  font-size: 50px;
}
.red_block--big-padding {
  padding: 5em 0;
}
.red_block--small-padding {
  padding: 0.5em 0;
}
.red_block__text {
  text-transform: uppercase;
}
.red_block__text--no-uppercase, .red_block__text--light {
  text-transform: none;
}
.red_block__text--light {
  display: block;
  font-weight: 200;
}
.red_block__call-to-action {
  background-color: #fff;
  border-radius: 75px;
  border: none;
  padding: 0.35em;
  text-transform: uppercase;
  font-size: 0.75em;
  color: #686963;
  min-width: 400px;
}

.card__img {
  max-width: 100%;
  margin: 5em;
}
.card__title {
  text-align: center;
  margin: 0.5em;
  font-size: 2.5em;
}
.card__text {
  font-size: 1em;
}
.card--gray-bg {
  background: #fff;
  color: #686963;
}

/*# sourceMappingURL=main.css.map */
